@import url("https://fonts.googleapis.com/css2?family=STIX+Two+Text:ital,wght@0,400..700;1,400..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base theme (light) */
:root {
  color-scheme: light;
}

/* Dark theme */
.dark {
  color-scheme: dark;
}

html {
  font-family: "STIX Two Text", serif; /* Apply font globally */
  transition: background-color 0.3s ease, color 0.3s ease;
  scroll-behavior: smooth;
}

body {
  @apply bg-white text-black;
}

.dark body {
  @apply bg-black text-white;
}
