/* app/globals.css */
@import url("https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base theme (light) */
:root {
  color-scheme: light;
}

/* Dark theme */
.dark {
  color-scheme: dark;
}

html {
  font-family: "Sour Gummy", sans-serif; /* Apply font globally */
  transition: background-color 0.3s ease, color 0.3s ease;
  scroll-behavior: smooth;
}

body {
  @apply bg-neutral-100 text-black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dark body {
  @apply bg-neutral-950 text-white;
}

/* Custom link underline animation */
.link-underline {
  position: relative;
  text-decoration: none; /* Remove default underline */
  display: inline-block; /* Essential for pseudo-element positioning */
  padding-bottom: 2px; /* Space for the underline */
}

.link-underline::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px; /* Thickness of the underline */
  background-color: currentColor; /* Matches text color */
  transition: width 0.3s ease-out; /* Animation */
}

.link-underline:hover::before {
  width: 100%;
}

/* Apply it to links inside <p> or general text in sections */
p a,
li a:not(.no-underline-animation) {
  @apply link-underline;
}

.link-underline {
  @apply text-gray-800 dark:text-gray-200; /* Default link color */
}

/* Animated 4-Sided Border Hover for List Items */
.animated-border-hover {
  position: relative;
  overflow: hidden; /* Important to clip the pseudo-element if it overgrows */
  transition: border-color 0.3s ease-out;
}

.animated-border-hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-bottom: 1.5px solid transparent; /* Start with transparent border */
  pointer-events: none; /* Ensure clicks go through to content */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */

  transition: border-color 0.3s ease-out, transform 0.3s ease-out,
    opacity 0.3s ease-out;

  transform: scale(0.8);
  opacity: 0;
}

.animated-border-hover:hover::before {
  border-color: #cbd5e0; /* light gray for light mode */
  @apply dark:border-gray-700; /* Tailwind for dark mode border color */
  transform: scale(1); /* Scale up to full size */
  opacity: 1; /* Fade in */
}
