@import url("https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base theme (light) */
:root {
  color-scheme: light;
}

/* Dark theme */
.dark {
  color-scheme: dark;
}

html {
  transition: background-color 0.3s ease, color 0.3s ease;
  scroll-behavior: smooth;
}

body {
  @apply bg-white text-black;
}

.dark body {
  @apply bg-black text-white;
}
